.trackslist {
    overflow-y: scroll;
    &__table-wrapper {
      
      height: 100%;
    }
    &__table {
      width: 100%;
      text-align: left;
      font-size: 12px;
    }
    tr {
      border-bottom: 1px dotted #666;
    }
    td {
      padding: 6px 0 ;
    }
  }